/* Font for webpage */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* Root variables for color and width */
:root {
    --primary-color: rgb(255, 151, 217);
    --primary-color-dark: #ff028d;
    --secondary-color:#000000;
    --text-dark:#000000;
    --text-light:#6b7280;
    --extra-light:#faf5ff;
    --max-width: 1200px;
}

/* resetting defult style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* anchor tag style */
a{
    text-decoration: none;
}

/* style for head and body elements */
head, body{
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* navagation bar style */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

/* style for content in nav bar */
.nav_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* style for logo on nav bar */
nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    transition: .3s;
}

/* color when you hover */
nav .logo a:hover{
    color: #000000;
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: black;
    cursor: pointer;
}


/* styles for unordered list */
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color:var(--extra-light);
    transition: 0.3s;
}

ul li a:hover{
    border-top-color: black;
    border-bottom-color: black;
    color: black;
}


/* style for the main section */
.section{
    background-image: url(pink/ bg.png);
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* style for titles and descriptions */
.subtitle{
    letter-spacing: 2px;
    color: #000000;
    font-weight: 600;
    margin-bottom: .5rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color:var(--text-dark);
    margin-bottom: 1rem;
}

.title span{
    font-weight: 600;
}

.description{
    line-height: 1.5rem;
    color: black;
    margin-bottom: 2rem;
    font-weight: 700;
}


/* button styles */
.action_bttns{
    display: flex;
    gap: 1rem;
}

.action_bttns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color-dark);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.about_me{
    background-color: #ff028d;
    color: #faf5ff;
}

.about_me:hover{
    background-color: grey;
}

.portfolio{
    background-color: #ff028d;
    color:#faf5ff
}

.portfolio:hover{
    background-color: grey;
}

/*image style and placement */
.image{
    display: grid;
    place-items: center;
}

.image img{
    width: min(20rem, 90%);
    border-radius: 100%;
}

/* about me style */
.about-content{
    text-align: center;
    max-width: 600px;
}

/* Media query for responsive design */
@media (max-width: 750px){
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height:calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .action_bttns{
        margin: auto;
    }
}
